---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="py-24">
    <h1 class="mb-8 font-serif text-6xl text-white">
      I keep finding myself in unfamiliar worlds.
    </h1>

    <p class="max-w-3xl text-xl text-neutral leading-relaxed">
      My response is usually curiosity.
    </p>

    <p class="mt-12 max-w-3xl text-lg text-neutral leading-relaxed">
      I've lived in multiple countries, learned several languages, started a
      company, and spent the last decade following my curiosity across different
      disciplines.

      In retrospect, I've learned that the most interesting problems rarely
      belong to a single discipline.
    </p>
  </section>
</Layout>