---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="py-24">
    <h1 class="mb-6 font-serif text-6xl text-white">
      How I Work
    </h1>

    <p class="max-w-2xl text-neutral">
      The recruiter should think:

      "I can imagine working with this person."
      
      Then:
      
      "I understand how they approach problems."
      
      Then:
      
      "I know where they'd fit on a team." 
      
      Design implications:

      This should be the most interactive page.
      
      Not flashy.
      
      Interactive.
      
      Big difference.
      
      Because this page is fundamentally about relationships.
      
      That's why Build My Team is so powerful.
    </p>
  </section>
</Layout>