---
import { SITE_CONTENT } from "@config";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Hero {...SITE_CONTENT.hero} />

  <section class="home-nav">
    <a href="/work" class="nav-card">
      <h2>Selected Works</h2>
    </a>

    <a href="/approach" class="nav-card">
      <h2>How I Work</h2>
    </a>

    <a href="/about" class="nav-card">
      <h2>About Me</h2>
    </a>
  </section>
</Layout>
